# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/

# Artifacts (processed data, models)
artifacts/

# OS files
.DS_Store
Thumbs.db
